body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.profile-main {
  max-width: 550px;
  margin: 40px auto;
  padding: 20px;
  background: whitesmoke;
  border-radius: 8px;
  border: 2px solid black;
}

.profile-head {
  padding: 20px;
}
.profile-head h2 {
  font-size: 26px;

  color: black;
}

.profile-info {
  display: flex;
  overflow-y: auto;
  align-items: center;
}

#profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-details {
  flex-grow: 1;
}

.profile-item {
  margin-bottom: 15px;
}

.profile-item label {
  font-weight: bold;
  margin-right: 10px;
}

.profile-item span {
  color: black;
}

#edit-pic-btn,
#edit-btn {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#edit-pic-btn:hover,
#edit-btn:hover {
  background-color: black;
  color: whitesmoke;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

#fileInput {
  display: none;
}

.message {
  margin-top: 15px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

#confirm-btn {
  background: green;
  color: white;
}

#confirm-btn:hover {
  background: darkgreen;
}

#cancel-btn {
  background: red;
  color: white;
}

#cancel-btn:hover {
  background: darkred;
}

.profile-item {
  color: black;
}
