/* Home.css */
#map {
  height: 100vh; /* Or a specific height like 500px */
  width: 100%; /* Ensure full width */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.side-menu {
  position: fixed;
  left: -100%;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: black;
  transition: 0.3s;
  padding-top: 60px;
}

.side-menu a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}

.home-main-content {
  padding: 10px;
  text-align: center;
  background-color: black;
}

.home-input-container {
  margin: 20px auto;
}

.home-input-container label {
  display: block;
  color: black;
  margin-bottom: 5px;
}

.home-input-container input {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.map-placeholder #map {
  width: 100%;
  height: 350px;
  padding-bottom: 30px;
}

.get-ride {
  padding-top: 20px;
}
button {
  background-color: rgb(235, 235, 8);
  border: 10px;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  font-size: 16px;
}

button:hover {
  background-color: ;
}
