footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer h2 {
  margin: 5px 0;
}

footer a {
  color: white;
  text-decoration: none;
}

.social-icons a {
  
  padding-right: 25px;
  padding-bottom: 10px;
}
