footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-color: rgb(235, 235, 8);
}

footer h2 {
}

footer a {
  color: white;
  text-decoration: none;
}

.social-icons a {
  padding-right: 5px;
}
